
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<section class="container">
    <p style="text-indent:2em;">
        On the Internet,there are more and more apps and websites <br />
        by which we can share our mood or something else with our friends,<br />
        like facebook, twitter,weibo,wechat and so on.<br />
        On the other hand,there is less and space increasingly for our own,for our only secrets.<br />
        So we develop this website app to help the users protect and record their own secrets.<br />
    </p>
    <p style="text-indent:2em;">
        Private Space  is similar to qqzone,however,
        <br />
        Private Space is special.There’s no one who knows about you,<br />
        nobody would know your only secrets unless you want someone to know them.<br />
        There’s only you.<br />
        Its a world completely belongs to you.<br />
        You can write any words,passagesthat you want to write but do not want anybody know it.<br />
    </p>
    <p style="color:#FF8F33">
        <header><h3> Our Goals</h3></header>
        <article>
            We'd like to provide you with a world that completely belongs to you.<br />
            We'd like to provide you with anything that you want to please you whenever you are unhappy or not so good to be yourself.<br />
        </article>
    </p>
</section>
