
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<div class="container">
    <p>
        <strong>
            We'd like to provide you with a world that completely belongs to you.<br /><br />
            We'd like to provide you with anything that you want to please you whenever you are unhappy or not so good to be yourself.<br /><br />
            If you have any advice for our website,send us a mail or in any way you want to let us make it better.<br />
            <br /><br />
        </strong>

        <h4>Email Address</h4>
        <address>
            MailTo:&nbsp; <a class="btn-primary" href="mailto:SparkLee1008@outlook.com">SparkLee1008@@outlook.com</a>
        </address>
    </p>
</div>